.App {
  text-align: center;
}
/* App.css */

body {
  margin: 0;
  padding: 0;
}
.transparent-input {
  background-color: transparent;
  border: none;
 /* border-bottom: 1px solid white; /* Opcional: puedes agregar un borde inferior blanco */
  color: white;
  outline: none;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../public/327034829_500296598692555_1253242596965595237_n.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
